@import '~src/common/index'

.currency-filter

.currency-filter__caption
  margin: 3px 0
  font-size: 12px
  font-weight: $font-semi-bold
  color: $text
  letter-spacing: 0.5px
  text-transform: uppercase

.currency-filter__options
  display: flex
  justify-content: center
  margin-top: 15px

.currency-filter__option
  flex-basis: 33.3%

  &:first-child
    .currency-filter__signs
      border-radius: 5px 0 0 5px
      border-right: none

  &:last-child
    .currency-filter__signs
      border-radius: 0 5px 5px 0
      border-left: none

.currency-filter__signs
  display: block
  padding: 12px 20px
  border: 1px solid #d2d5d6
  font-size: 12px
  font-weight: $font-semi-bold
  color: $primary
  text-align: center
  letter-spacing: 0.5px
  text-transform: uppercase
  transition: background-color 0.2s ease-in, border-color 0.2s ease-out

  &:hover
    border-color: $primary
    cursor: pointer
    background-color: $primary-light

  &:focus
    border: 1px solid $primary

.currency-filter__chose
  +visually-hidden

.currency-filter__chose:checked + .currency-filter__signs
  color: #fff
  background-color: $primary
