<div class="currency-filter">

  <h2 class="currency-filter__caption">Валюта</h2>

  <div class="currency-filter__options">
    <label class="currency-filter__option">
      <input  class="currency-filter__chose" type="radio" name="currency" id="rub" checked>
      <span class="currency-filter__signs">rub</span>
    </label>
    <label class="currency-filter__option">
      <input  class="currency-filter__chose" type="radio" name="currency" id="usd">
      <span class="currency-filter__signs">usd</span>
    </label>
    <label class="currency-filter__option">
      <input  class="currency-filter__chose" type="radio" name="currency" id="eur">
      <span class="currency-filter__signs">eur</span>
    </label>
  </div>

</div>
