@import '~src/common/index'

.tickets
  min-height: 100vh
  max-width: 1024px
  background-color: $primary-light
  margin: 35px auto
  border-radius: 5px
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25)

.ticket__content
  display: flex
  justify-content: space-between
  margin-top: 30px
  padding: 0 70px
  box-sizing: border-box

  +media($laptop-sm)
    padding: 0 60px

  +media($tablet)
    flex-direction: column
    padding: 0 110px

  +media($mobile-lg)
    padding: 0 25px

.tickets__filter
  width: 100%
  max-height: 440px
  margin-right: 20px
  background-color: #fff
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25)
  border-radius: 5px
  box-sizing: border-box
  transition: box-shadow 0.2s ease-in-out

  &:hover
    box-shadow: 0 1px 4px rgba(91, 137, 164, 0.55)

  +media($tablet)
    max-height: none
    padding: 25px 85px
    margin-right: 0

  +media($tablet)
    padding: 25px 65px

  +media($mobile-sm)
    padding: 25px 20px

  +media($mobile-xs)
    padding: 15px 10px

.tickets__render
  flex-shrink: 0
  flex-basis: 65%

  +media($tablet)
    flex-basis: 100%
    margin-top: 20px

.tickets__loader
  position: relative
  margin: 0 auto
  width: 50px
  height: 100%

  &:before
    content: ''
    display: block
    padding-top: 100%

.tickets__circular
  animation: rotate 2s linear infinite
  height: 100%
  transform-origin: center center
  width: 100%
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

  .path
    stroke-dasharray: 1, 200
    stroke-dashoffset: 0
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite
    stroke-linecap: round


@keyframes rotate
  100%
    transform: rotate(360deg)

@keyframes dash
  0%
    stroke-dasharray: 1, 200
    stroke-dashoffset: 0

  50%
    stroke-dasharray: 89, 200
    stroke-dashoffset: -35px

  100%
    stroke-dasharray: 89, 200
    stroke-dashoffset: -124px

@keyframes color
  0%,
  100%
    stroke: $primary
