<div class="tickets">

    <div class="tickets__header">
        <app-ticket-header></app-ticket-header>
    </div>

    <div class="ticket__content">
      <div class="tickets__filter">
          <app-filter></app-filter>
      </div>

      <div class="tickets__render">
          <ng-container *ngIf="curRates">
            <app-ticket *ngFor="let ticket of tickets" [renderTicket]="ticket" [currencyType]="currency" [curRates]="curRates"></app-ticket>
          </ng-container>
      </div>
    </div>

</div>

