<div class="transfers-filter">

  <h2 class="transfers-filter__caption">Количество пересадок</h2>

  <div class="transfers-filter__options">

    <form [formGroup]="stopsForm">
      <label *ngFor="let stop of stopsRender.controls; let i=index" class="transfers-filter__option">
        <input class="transfers-filter__chose" type="checkbox" [formControl]="stop" (change)="submit(stopsForm.value)">
        <span class="transfers-filter__text" >{{ stops[i].option }}</span>
        <button class="transfers-filter__only">Только</button>
      </label>
    </form>

  </div>
</div>

