@import '~src/common/index'

.transfers-filter

.transfers-filter__caption
  font-size: 12px
  font-weight: $font-semi-bold
  color: #4a4a4a
  letter-spacing: 0.5px
  text-transform: uppercase

.transfers-filter__options
