@import '~src/common/index'

.transfers-filter

.transfers-filter__caption
  font-size: 12px
  font-weight: $font-semi-bold
  color: #4a4a4a
  letter-spacing: 0.5px
  text-transform: uppercase
  margin: 0
  padding: 18px

.transfers-filter__options


.transfers-filter__option
  display: block
  padding: 10px 18px
  transition: background-color 0.3s ease

  &:hover
    cursor: pointer
    background-color: $primary-light

.transfers-filter__chose
  +visually-hidden

.transfers-filter__text
  display: block
  position: relative
  padding-left: 30px
  font-size: 13px
  color: #4a4a4a
  line-height: 1

  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    height: 18px
    width: 18px
    border-radius: 3px
    border: 1px solid #d2d5d6
    background-color: #fff


.transfers-filter__chose:checked + .transfers-filter__text
  &:before
    background-image: url('/assets/images/filter/checked.svg')
    background-repeat: no-repeat
    background-position: center
    background-size: 70%
