@import '~src/common/index'

.ticket
  display: flex
  justify-content: space-between
  max-width: 566px
  min-height: 160px
  margin: 0 auto
  background-color: #fff
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25)
  border-radius: 5px


.ticket__airlines
  display: flex
  flex-direction: column
  flex-basis: 162px
  justify-content: center
  align-items: flex-start
  padding: 20px
  border-right: 1px solid #eceff1

.ticket__logo
  display: block

.ticket__buy
  margin-top: 20px
  padding: 10px 38px
  border: none
  border-radius: 5px
  background-color: $secondary
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #d64d08
  font-size: 16px
  font-weight: $font-semi-bold
  color: #fff

.ticket__price
  display: block
  font-weight: $font-regular

.ticket__flight
  display: flex
  flex-direction: column
  flex-grow: 1
  padding: 23px 25px

.ticket__timing
  display: flex
  justify-content: space-between

.ticket__time
  font-size: 32px
  color: $text

.ticket__transfer
  flex-basis: 110px
  margin-top: 5px
  color: #8b9497
  text-align: center
  font-size: 10px
  text-transform: uppercase
  font-weight: $font-semi-bold

  &:after
    content: ''
    display: block
    width: 100%
    height: 15px
    background-image: url('/assets/images/ticket/airplane.svg')
    background-repeat: no-repeat
    background-size: contain

.ticket__time-arrival

.ticket__place
  display: flex
  justify-content: space-between
  margin-top: 6px
  font-size: 12px

.ticket__city
  color: $text
  font-weight: $font-semi-bold

.ticket__date
  margin-top: 5px
  color: $text-light

.ticket__date--right
  text-align: right

.ticket__place-departure

.ticket__place-arrival

