<!-- *ngIf="stops === renderTicket.stops" -->
<div class="ticket">
  <div class="ticket__airlines">
    <img class="ticket__logo" src="assets/images/ticket/turkish-airlines-logo.png">
    <button type="button" class="ticket__buy">Купить
      <span *ngIf="currencyType === 'rub'" class="ticket__price">
        за {{ ticketPrice | currency : 'RUB': 'symbol': '1.0-0' :'ru-RU'}}
      </span>
      <span *ngIf="currencyType === 'usd'" class="ticket__price">
        за {{ ticketPrice | currency : 'USD': 'symbol': '1.0-0' :'ru-RU'}}
      </span>
      <span *ngIf="currencyType === 'eur'" class="ticket__price">
        за {{ ticketPrice | currency : 'EUR': 'symbol': '1.0-0' :'ru-RU'}}
      </span>
    </button>
  </div>

  <div class="ticket__flight">
    <div class="ticket__timing">
      <div class="ticket__time ticket__time-departure">{{ renderTicket.departure_time }}</div>
      <div class="ticket__transfer">{{ renderTicket.stops }}
        {{ returnDeclension(renderTicket.stops) }}</div>
      <div class="ticket__time ticket__time-arrival">{{ renderTicket.arrival_time }}</div>
    </div>

    <div class="ticket__place">
      <div class="ticket__place-departure">
        <div class="ticket__city"> {{ renderTicket.origin }}, {{ renderTicket.origin_name }}</div>
        <div class="ticket__date">{{ renderTicket.departure_date}}
          {{ setDate(renderTicket.departure_date) | date: 'EEE': '': 'ru' | titlecase}} </div>
      </div>

      <div class="ticket__place-arrival">
        <div class="ticket__city">{{ renderTicket.destination_name }},
          {{ renderTicket.destination }}</div>
        <div class="ticket__date ticket__date--right">{{ renderTicket.arrival_date}}
          {{ setDate(renderTicket.arrival_date) | date: 'EEE': '': 'ru' | titlecase}}</div>
      </div>
    </div>

  </div>

</div>
