<div class="ticket">

  <div class="ticket__airlines">
    <img class="ticket__logo" src="../../../assets/ticket/turkish-airlines-logo.png">
    <button type="button" class="ticket__buy">Купить за 21 032 ​₽</button>
  </div>

  <div class="ticket__flight">

    <div class="ticket__time">
      <div class="ticket__time-departure">09:25</div>
      <div class="ticket__transfer">1 ПЕРЕСАДКА</div>
      <div class="ticket__time-arrival">11:45</div>
    </div>

    <div class="ticket__place">
      <div class="ticket__place-departure">
        <div> VVO, Владивосток</div>
        <div>9 окт 2018, Пт</div>
      </div>
      <div class="ticket__place-arrival">
        <div>Тель-Авив, TLV</div>
        <div>10 окт 2018, Пт</div>
      </div>
    </div>

  </div>

</div>
