<div class="ticket">

  <div class="ticket__airlines">
    <img class="ticket__logo" src="assets/images/ticket/turkish-airlines-logo.png">
    <button type="button" class="ticket__buy">Купить <span class="ticket__price">за 21 032 ₽</span> </button>
  </div>

  <div class="ticket__flight">

    <div class="ticket__timing">
      <div class="ticket__time ticket__time-departure">09:25</div>
      <div class="ticket__transfer">1 пересадка</div>
      <div class="ticket__time ticket__time-arrival">11:45</div>
    </div>

    <div class="ticket__place">
      <div class="ticket__place-departure">
        <div class="ticket__city"> VVO, Владивосток</div>
        <div class="ticket__date">9 окт 2018, Пт</div>
      </div>
      <div class="ticket__place-arrival">
        <div class="ticket__city">Тель-Авив, TLV</div>
        <div class="ticket__date ticket__date--right">10 окт 2018, Пт</div>
      </div>
    </div>

  </div>

</div>
